.jumbotron {
  margin-top: 20px;
  color: black;
}

body {
  background-color: #2464cc;
  color: white;
}

.sidebar {
  background-color: white;
  color: black;
  float: left;
  height: 200px;
  margin-right: 30px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
}

.btn {
  margin-bottom: 10px;
}

form {
  margin-top: 45px;
  margin-bottom: 15px;
  border-bottom: solid black;
}

.form-control {
  width: 160px;
}

.image img{
  float: right;
  max-height: 300px;

}
